@font-face{
	font-family: Jim Nightshade;
	src: url(/fonts/JimNightshade-Regular.ttf);
}

body *
{
	font-family: Jim Nightshade !important;
	font-size: 1.1em !important;
}

form{
	background-color: aliceblue;
	opacity: .9;
	padding: 10px;
	margin:auto;
	border-radius: 10px;
	font-weight: bold;
}

body {
	background: url('/images/winery.jpg');
	background-color: burlywood;
	background-repeat: repeat;
	background-position: top left;
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: luminosity;
	overflow-x: auto; 
	overflow-y: auto;
}

h1{
	opacity: .9;
	padding: 10px;
	margin:auto;
	border-radius: 10px;
	font-weight: bold;
}

.checkbox{
	opacity: .9;
	border-radius: 10px;
	align-content: space-between;
	font-weight: bolder;
	display: inline-block;
}

.btn{
	color: coral;
	background-color: blanchedalmond;
}

.form-control{
	color: darkred;
	background-color: honeydew;
}

.login-container{
	padding-top: 13%;
}

.owner-container{
	padding-top: 2%;
}

.signin-container{
	padding-top: 2%;
}

.loader {
  	border: 16px solid #f3f3f3;
  	border-radius: 50%;
  	border-top: 16px solid black;
  	width: 120px;
  	height: 120px;
  	-webkit-animation: spin 2s linear infinite;
  	animation: spin 2s linear infinite;
	position: absolute;
    margin-left: 40%;
    margin-top: 10%;
}

@-webkit-keyframes spin {
  	0% { -webkit-transform: rotate(0deg); }
  	100% { -webkit-transform: rotate(360deg); }
}

#map {
	height: 100%;
}

@keyframes spin {
  	0% { transform: rotate(0deg); }
  	100% { transform: rotate(360deg); }
}